<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/main_style.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <header>
        {% block header %}
                <div class="header_logo">
                    <a href="{{ path('app_main') }}">Safe Pathway</a>
                </div>
                <nav>
                    <ul>
{#                        <li><a href="{{ path('app_main') }}">Main</a></li>#}
                        <li><a href="{{ path('main_pathway') }}">My Pathways</a></li>
                    </ul>
                </nav>
            {% if app.user %}
                <a class="btn btn-primary" href="{{ path('app_logout') }}">logout</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
            {% endif %}
        {% endblock %}
    </header>
    <div class="center_block_main">
        <aside>
            {% block sidebar %}
                <ul>
                    <li><a href="{{ path('add_pathway')}}">Add Safe Path</a></li>
                </ul>
            {% endblock %}
        </aside>

        <main>
            {% block main_content %}
                <div class="container-fluid m-3">
                    <p><h3>This is an application for storing safe and reliable routes, paths, etc.</h3></p>
                    <p>Here you can save your proven routes without mines and difficulties.</p>
                    <p>By adding coordinates step by step you can build safe trails.</p>
                </div>
            {% endblock %}
        </main>
    </div>
    </body>

    <footer>
        Footer!
    </footer>
</html>
